I am writing an application like seti@home, clients will be android applications. Use material theme for design. The design should be minimalistic and modern and professional. Projects name is 'Cryptico'.